<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/anime-info-template.css">
    <title><%= anime ? anime.Name : "Anime Page" %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
    <div class="anime-container">
        <!-- Image and Favorite button section -->
        <div class="img-favorite">
            <div id="anime-image" class="anime-image">
                <img src="https://a.storyblok.com/f/178900/750x875/1046c88ea4/ramenakaneko_teaser2.jpg/m/filters:quality(95)format(webp)" alt="Anime Image">
            </div>
            <div class="favorite-button">
                <button id="favorite-button" data-anime-id="<%= anime.anime_id %>" title="<%= anime.isFavorited ? 'Remove from Favorites' : 'Add to Favorites' %>" class="list-add <%= anime.isFavorited ? 'favorited' : '' %>">
                    <span class="material-symbols-outlined" style="color: <%= anime.isFavorited ? 'white' : 'black' %>;">favorite</span>
                </button>
    </div>

        </div>
        <!-- Anime Details and Stats section -->
        <div class="anime-details-container">
            <div class="anime-details">
                <h1 id="anime-title"><%= anime ? anime.Name : "Anime Title Not Available" %></h1>
                <p id="anime-description" class="anime-description">
                    <%= anime ? anime.sypnopsis : "No description available for this anime." %>
                </p>
            </div>
            <!-- Stats section -->
            <div class="anime-stats">
                <div class="stats">
                    <p id="stats">Stats</p>
                </div>
                <div class="anime-stat">
                    <h2>Score</h2>
                    <p id="anime-score"><%= anime ? anime.Score : "N/A" %></p>
                </div>
                <div class="anime-stat">
                    <h2>Genres</h2>
                    <p id="anime-genre"><%= anime ? anime.Genres : "N/A" %></p>
                </div>
                <div class="anime-stat">
                    <h2>Type</h2>
                    <p id="anime-type"><%= anime ? anime.Type : "N/A" %></p>
                </div>
                <div class="anime-stat">
                    <h2>Episodes</h2>
                    <p id="anime-episodes"><%= anime ? anime.Episodes : "N/A" %></p>
                </div>
                <div class="anime-stat">
                    <h2>Aired</h2>
                    <p id="anime-aired"><%= anime ? anime.Aired : "N/A" %></p>
                </div>
                <div class="anime-stat">
                    <h2>Studio</h2>
                    <p id="anime-studio"><%= anime ? anime.Studios : "N/A" %></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/anime-info.js"></script>
</body>
<script>
    fetch('/header.html')
        .then(response => response.text())
        .then(data => {
            document.body.insertAdjacentHTML('afterbegin', data);
        });
</script>
</html>
